@import url('https://fonts.googleapis.com/css2?family=Gurajada&display=swap');

body, html{
    background-color: black;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-image: url(bokeh.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.settings-page{
    font-size: 1.25rem;
    line-height: 130%;
}
  
.settings-container{
    box-sizing: border-box;
    padding: 10px 30px;
    background-color: white;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
}
  
.settings-title {
    background-color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    font-size: 15px;
    margin-bottom: 10px;
    position: relative;
    font-family: 'Times New Roman', serif;
    border: none; 
}
  
.settings-title::before{
    content: '+';
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    font-size: 1.5em;
}
  
.active.settings-title::before{
    content: '-';
}
  
.active, .settings-title:hover{
    background-color: black;
    color:white;
}
  
.form{
    padding: 0 18px;
    background-color: #ebebeb;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-bottom: 5px;
    font-family: 'Times New Roman', serif;
    font-weight: bold;
    font-size: 15px;
}
  
.btn{
    cursor: pointer;
    background-color: lightgray;
}
  
/*sidebar*/
.sidebar {
  height: 100%;
  width: 150px;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #eeeeeb;
  overflow-x: hidden;
  padding-top: 80px;
  z-index: 1;
}

.sidebar a {
  padding: 8px 8px 3px 15px;
  margin: 0;
  display: flex;
  font-size: 25px;
  color: black;
  text-decoration: none;
  align-items: center;
  justify-content: space-between;
  font-family: 'Gurajada', serif;  
  }

  a:hover{
    color: #5334dd;
  }

.closeBtn {
  position: absolute;
  top: 0px;
  right: 0px;
}

.openBtn {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 30px; 
  cursor: pointer;
}

.logoutBtn{
  padding: 4px 4px;
  position: absolute;
  color: black;
  font-size: 13px;
  margin-top: 10px;
  margin-left: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

/*solid line divider*/
hr.solid {
  border-top: 1px solid lightgray;
}

/*icon*/
.fas
{
color: #AFA398;
}

nav a {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Palanquin Dark', sans-serif;
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  opacity: 0.8;
}

@media screen and (max-width: 600px) {
  nav .sidebarBtn{
      display: flex;
  }
  nav .navLinks{
      display: none;
  }
}


